@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');

* {
    font-family: 'Chakra Petch', sans-serif;
}

:root {
    --cor-principal: orange;
    --cor-secundaria: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    background-image: url(./img/orange.png);
}

@media(max-width:760px){
body {
    background-image: none;
    }
}

#tit{
    color: var(--cor-principal);
    text-shadow: 2px 1px 0px black;
}

.texto{
    width: 680px;
    padding: 0px 20px;
    border-radius: 5px;
    color: var(--cor-principal);
    text-shadow: 0px 0px 10px var(--cor-principal);
    border: 5px groove var(--cor-principal);
    background-color: black;
}

@media(max-width:760px){
.texto{
    width: 290px;
    }
}

.tempo{
    margin-top: 30px;
    text-align: center;
    background: black;
    padding: 30px;
    border-radius: 50%;
    border: 5px groove var(--cor-principal);
    box-shadow: 0px 0px 25px var(--cor-principal);
}

#cronometro{
    color: var(--cor-principal);
    font-size: 25px;
}

.cronometro{
    color: var(--cor-principal);
    font-size: 25px;
}

.container {
    display: flex;
    padding-top: 80px;
}

#currentNumber {
    color: var(--cor-principal);
    margin: 0 20px;
    font-size: 30px;
}

#pontos{
    color: var(--cor-principal);
    margin-right: 10px;
}

#start{
    height: 60px;
    width: 105px;
    border-radius: 50%;
    border: 3px solid var(--cor-principal);
    background-color: black;
    color: var(--cor-principal);
    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    box-shadow: 1px 0px 1px 0px black;
}

@media(max-width:760px){
#start{
    height: 60px;
    width: 110px;
    }
}

button {
    height: 60px;
    width: 65px;
    border-radius: 50%;
    border: 3px solid var(--cor-principal);
    background-color: black;
    color: var(--cor-principal);
    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    box-shadow: 1px 0px 1px 0px black;
}

@media(max-width:760px){
button {
    height: 60px;
    width: 90px;
    }
}

button:hover{
    cursor: pointer;
}

#congrats{
    padding-top: 3%;
    color: var(--cor-principal);
    text-shadow: 0px 0px 5px black;
}

#dev{
    color: var(--cor-principal);
    text-shadow: 1px 0px black;
    padding-top: 10%;
}






